@charset "UTF-8";

.left-content, .right-content {
    position: fixed;
    display: flex;
    z-index: 150;
}

.left-content {
    left: 0;
}

.right-content {
    right: 0;
}

.side-bar {
    position: relative;
    height: 76vh;
    overflow: auto;
    transition: all ease-in-out .4s;
    background-color: white;

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px $primary;
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px $primary;
        background-color: darken($color: $primary, $amount: 0);
    }

    &-title {
        width: 100%;
        padding: 3%;
        padding-bottom: 0;
        font-weight: bold;
    }

    &-button-content {
        height: 40px;
    }

    &-left {
        left: 0;
        margin-left: -5px;
    }

    &-right {
        right: 0;
        margin-right: -5px;
    }
}

.margin-side {
    width: 100vw;
    height: 76vh;
    transition: all ease-in-out .4s;
}

.absolut-darken {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    width: 100vw;
    height: 100vh;
    z-index: 120;
}

.side-content {
    &-click-in {
        width: 0;
        color: transparent;
        z-index: -5;
    }

    &-click-out {
        z-index: 150;
        transition: all ease-in .4s;
    }
}

.table-actions {
    padding: 0 10px 0 10px;
}

.mat-form-field {
    width: 100%;
}

@media only screen and (min-width: 900px) {
    .left-content, .right-content {
        top: 14vh;
    }

    .side-content {
        &-click-out {
            z-index: 150;
        }

        &-small {
            width: 35vw;
            max-width: 300px;
        }

        &-large {
            width: 45vw;
            max-width: 450px;
        }
    }

    .margin-side {
        padding: 0 50px 0 50px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .left-content, .right-content {
        top: 70px;
    }

    .side-content {
        &-click-out {
            width: 40vw;
        }
    }

    .margin-side {
        padding: 0 10px 0 10px;
    }

    .table-actions {
        padding: 0 40px 0 40px;
    }
}

@media only screen and (max-width: 600px) {
    .left-content, .right-content {
        top: 10vh;
    }

    .side-content {
        &-click-out {
            width: 75vw;
        }
    }

    .table-actions {
        padding: 0 50px 0 50px;
    }
}