@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif !important;
    width: 100%;
    min-height: 100vh;
}

input {
    border: transparent;
    border-bottom: 1px solid $gray;
    word-wrap: break-word;
    text-align: center;
    width: 30px;
    padding: .1375em 0;

    &:focus {
        overflow: hidden;
        outline: transparent;
    }

    &[type=number]::-webkit-inner-spin-button { 
        -webkit-appearance: none;
        
    }
    &[type=number] { 
       -moz-appearance: textfield;
       appearance: textfield;
    
    }
}

button:focus {
    overflow: hidden;
    outline: transparent;
}

.body-content {
    height: 85vh;
    padding: 2% 0 2% 0;
    display: flex;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-left {
    text-align: left;
}

.margin-top {
    margin-top: 10px;
}

.padding {
    padding: 1%;
    padding-bottom: 10px;
}


.padding-left {
    padding-left: 7px; 
}

.btn-primary-project {
    background-color: $primary;
    color: white !important;

    &:hover {
        background-color: darken($color: $primary, $amount: 1);
        color: white;
    }

    &:checked {
        background-color: $primary;
    }

    &:focus {
        background-color: $primary;
        box-shadow: 0 0 0 0.2rem transparent;
    }
}

.button-delete-container {
    position: absolute;
    bottom: 10px;
    z-index: 200;
}

.button-delete {
    width: 90%;
}

.loading-container {
    width: 100%;
    padding: 2%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $primary;
}

.button-selected {
    background-color: rgba(0,0,0,.12) !important;
    color: black !important;
    cursor: no-drop !important;
}

.form-field-small {
    width: 40px !important;
    margin-left: 10px;
}

.action {
    float: right;
    position: relative;
    top: -10px;

    & .mat-icon {
        font-size: 19px;
    }
}

@media only screen and (max-width: 600px) {
    .margin-right {
        &-small {
            margin-right: 1px;
        }
    
        &-large {
            margin-right: 7px;
        }
    }
    
    .margin-left {
        &-small {
            margin-left: 1px;
        }
    
        &-large {
            margin-left: 7px;
        }
    }

    .icon-show {
        z-index: 200;
    }
}

@media only screen and (min-width: 600px) {
    .margin-right {
        &-small {
            margin-right: 5px;
        }
    
        &-large {
            margin-right: 10px;
        }
    }
    
    .margin-left {
        &-small {
            margin-left: 5px;
        }
    
        &-large {
            margin-left: 10px;
        }
    }
}